# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Angular / Node
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/src/assets/env.js
frontend/src/assets/env.template.js

# IDEs
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
.factorypath

# Logs and Temps
*.log
startup_v*.log
tmp/
temp/

# OS files
.DS_Store
Thumbs.db

# Sensitive Information
.env
application-local.properties
**/application-local.properties
config/keys.js
**/keys.js
